services:
  db:
    image: postgres:17
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: debarshee2004
      POSTGRES_PASSWORD: 12345678
      POSTGRES_DB: postgres
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - db_network

networks:
  db_network:
    driver: bridge

volumes:
  pgdata:
    driver: local
